* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/* Text Definitions */
a,
p,
button,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: $primary-font;
}

#parallax {
    img {
        @media(max-width: 767.98px) {
            padding: 20px;
        }
    }
}


#localizacao {
    .bg-color {
        background-color: #15252f;
        height: 500px;
        padding: 5%;

        @media(max-width: 767.98px) {
            padding: 40px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 22px;

            span {
                font-size: 14px;
            }

            .fa-phone-alt,
            .fa-whatsapp,
            .fa-map-marker-alt {
                color: #f2e07c;
                margin-right: 10px;
            }
        }
    }

    #map {
        position: relative;
        z-index: 1;
        height: 500px;
    }
}


/* Cookies Adjust */
#alert {
    .cookie-popup {
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: fixed;
        bottom: -6.25rem;
        left: 1.25rem;
        right: 1.25rem;
        padding: 0.625rem 0.9375rem;
        box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.15);
        line-height: 150%;
        transition: opacity 0.5s;
        opacity: 0;
        font-family: $primary-font !important;

        @media (max-width: 999px) {
            left: 0.25rem;
            margin-bottom: 6%;
        }
    }

    .cookie-popup--short {
        right: none;
        width: 21.875rem;
    }

    .cookie-popup--dark {
        background: #000;
        color: #fff;
    }

    .cookie-popup--not-accepted {
        opacity: 1;
        animation: cookie-popup-in 0.5s ease forwards;
    }

    .cookie-popup--accepted {
        opacity: 0;
    }

    .cookie-popup a {
        color: skyblue;
    }

    .cookie-popup a:visited {
        color: skyblue;
        text-decoration: none;
    }

    .cookie-popup-actions {
        flex: 1;
        text-align: right;
    }

    .cookie-popup-actions button {
        color: $primary-color;
        border: none;
        background: none;
        font-family: inherit;
        font-style: inherit;
        font-size: inherit;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        padding: 0;
        cursor: pointer;
    }

    .cookie-popup-actions button:hover {
        text-decoration: underline;
    }

}


#tk-page {
    background: $text-color;
    height: 100vh;

    .uk-container {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .title {

            h1,
            h2 {
                color: $primary-color;
            }

            h2 {
                margin-top: 20px;
            }

            .uk-button-default {
                color: #fff;
                background: $primary-color;
                border: none;
                font-weight: 700;
                border-radius: 50px;
                padding: 10px 40px;
                font-family: $primary-font;
            }
        }
    }
}


/* Social */
#social {

    ul {
        list-style: none;

        >li {

            background-color: $text-color;

            a {
                color: $primary-color;
                font-size: 20px;
            }
        }
    }

    .sidebar-social {
        position: fixed;
    }


    @media(min-width: 1024px) {
        .sidebar-social {
            top: 0;
            right: 0;
            bottom: 20px;
            top: 40%;
            display: table;
            z-index: 2;
            position: fixed;
            width: 90px;




            .list-one,
            .list-two {
                margin-bottom: 10px;
                text-align: center;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 6px;
            }
        }
    }

    @media(max-width: 1023px) {

        margin-top: 40px;

        .sidebar-social {
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            z-index: 1000200;

            ul {
                padding: 0px;
            }

            a {
                position: relative;
                margin: 0;
                outline-offset: -1px;
                text-align: center;
                float: left;
                transition: width 0.15s ease-in-out;
                overflow: hidden;
                z-index: 100030;
                cursor: pointer;
                border-radius: 0px;
                width: 50%;
                color: $primary-color;
                background-color: $text-color;
            }
        }
    }
}



/* Animations KeyFrames */
@keyframes mark {
    to {
        background-position: -100%;
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
}

@keyframes cookie-popup-in {
    from {
        bottom: -6.25rem;
    }

    to {
        bottom: 1.25rem;
    }
}