#tour {
    padding: 60px 0;

    .title-area {
        hr {
            border-top: 5px solid $text-color;
            width: 5%;
            margin: 0 auto;
        }

        h2 {
            color: $text-color;
            font-weight: 700;

            span {
                color: $primary-color;
            }
        }
    }
}