*,
html,
body {
    font-family: "Poppins", sans-serif;
}

body {
    padding-top: 80px;
}

@media (max-width: 763px) {
    .navbar-brand {
        width: 60% !important;
    }
}

.navbar-light .navbar-toggler {
    color: #fff !important;
    border: none;

    .fa-bars {
        font-size: 26px;
    }
}

#infos {
    background: #ffffff;
    padding: 35px;

    p {
        font-size: 11px;
        margin-bottom: 0px;
    }
}

#copyright {
    padding: 50px;

    .produzido-por {
        @media (min-width: 1200px) {
            text-align: right;
        }

        a {
            color: $blue-color;
            text-decoration: none;
            font-weight: 800;
        }
    }

    @media (max-width: 900px) {
        .align-center-mobile {
            text-align: center;
            margin-bottom: 15px;
            font-size: 11px;
        }

        padding: 20px;
    }
}

.thanks-msg {
    background-image: url(../../assets/images/20180830_155241.jpg);
    padding: 14%;
    background-size: cover;
    background-position: center;
}

.thanks-msg h1 {
    color: #d18c31;
    text-transform: uppercase;
    font-weight: 800;
}

.button-pulse {
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 #0F8552;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.modal-header {
    h5 {
        font-weight: bold;
        color: #082c40;
    }
}


#alert {
    .cookie-popup {

        font-size: 0.875rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: fixed;
        bottom: -6.25rem;
        left: 1.25rem;
        right: 1.25rem;
        padding: 0.625rem 0.9375rem;
        box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, .15);
        line-height: 150%;
        transition: opacity .5s;
        opacity: 0;
    }

    .cookie-popup--short {
        right: none;
        width: 21.875rem;
    }

    .cookie-popup--dark {
        background: #000;
        color: #fff;
    }

    .cookie-popup--not-accepted {
        opacity: 1;
        animation: cookie-popup-in .5s ease forwards;
    }

    .cookie-popup--accepted {
        opacity: 0;
    }

    .cookie-popup a {
        color: skyblue;
    }

    .cookie-popup a:visited {
        color: skyblue;
        text-decoration: none;
    }

    .cookie-popup-actions {
        flex: 1;
        text-align: right;
    }

    .cookie-popup-actions button {
        color: orange;
        border: none;
        background: none;
        font-family: inherit;
        font-style: inherit;
        font-size: inherit;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        padding: 0;
        cursor: pointer;
    }

    .cookie-popup-actions button:hover {
        text-decoration: underline;
    }

    @keyframes cookie-popup-in {
        from {
            bottom: -6.25rem;
        }

        to {
            bottom: 1.25rem;
        }
    }
}