#plantas {
    font-family: 'Sen', sans-serif;

    .uk-tab {
        margin: 0px !important;

        .uk-active {
            background-color: $secondary-color;

            a {
                color: #fff;
                padding: 15px 5px;
                font-size: 14px;
                font-weight: 700;

                @media only screen and (min-width: 980px) and (max-width: 1099px) {
                    font-size: 11px;
                }
            }

        }

        li {
            border: 2px solid $secondary-color;
            background-color: #f4f4f4;
            padding: 0px;

            a {
                color: $secondary-color;
                border-bottom: none;
                padding: 15px 5px;
                font-size: 14px;
                font-weight: 700;

                @media only screen and (min-width: 980px) and (max-width: 1099px) {
                    font-size: 11px;
                }
            }
        }
    }

    #content {
        box-shadow: 0px 15px 15px 0px rgba(50, 50, 50, 0.13);
        transition: 1s;

        @media (min-width: 1024px) {
            padding: 80px 110px;
        }

        @media (max-width: 999px) {
            padding: 40px;
        }

        .text-planta {
            .metros-planta {
                font-size: 45px;
                font-weight: 700;

                line-height: 35px;

                .first {
                    font-size: 25px;
                }

                .second {
                    font-size: 15px;
                }
            }

            p {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 25px;
            }

            .uk-button-default {
                background: rgb(55, 149, 70);
                background: -moz-linear-gradient(90deg, rgba(55, 149, 70, 1) 0%, rgba(100, 211, 163, 1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(55, 149, 70, 1) 0%, rgba(100, 211, 163, 1) 100%);
                background: linear-gradient(90deg, rgba(55, 149, 70, 1) 0%, rgba(100, 211, 163, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#379546", endColorstr="#64d3a3", GradientType=1);
                color: #fff;
                padding: 8px 40px;
                border-radius: 10px;
                display: inline-block;
                margin-top: 20px;
                -webkit-transition: -webkit-transform 0.5s ease;
                transition: -webkit-transform 0.5s ease;
                transition: transform 0.5s ease;
                transition: transform 0.5s ease, -webkit-transform 0.5s ease;
                font-family: "Basic", sans-serif;
                font-size: 17px;

                @media(max-width: 900px) {
                    padding: 8px 30px;
                }

                transition: transform .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .margin-area {
        margin: 50px 0;
    }
}